.CollectionMid{
    margin-top: 40px;
    text-align: center;
}

.JewelerySection, .MenWearSection{
    margin-top: 50px;
}

.JeweImage{
    height: 500px;
    width: 1000px;
    object-fit: contain;
}


.menWearImg{
    height: 420px;
    width: 1000px;
    object-fit: contain;
}


 .slide4btn, .Slide6ShopNowbtn{
    background-color: black;
    background-color: #693621;
    color: white;
}

.Slide7{
    display: flex;
    justify-content: center;
}





@media screen and (max-width: 319px) {
   
}


@media screen and (min-width: 320px) and (max-width: 374px){

    .JewelerySection{
        margin-bottom: 90px;
    }
    .Slide2ShopNowbtn{
        margin-left: -50px;
        margin-top: -50px;
    }

    .JeweImage{
        height: 300px;
        width: 300px;
        object-fit: contain;
        margin-left: -10px;
    }

    .menWearImg{
        height: 300px;
        width: 300px;
        object-fit: contain;
        margin-top: -150px;
        margin-left: -10px;
    }

    .menWearButton{
        background-color: black;
            margin-top: 30px;
            margin-left: -75px;
            height: 30px;
            width: 120px;
            margin-bottom: 100px;
    }

    .menswearBtnText{
        margin-top: -3.5px;
    }

    .slide4Image{
        height: 300px;
        width: 300px;
        object-fit: contain;    
        margin-top: -100px;
        margin-left: -13px;
        z-index: -1;
    }

    .slide4btn{
        height: 20px;
        width: 80px;
        font-size: 8px;
        z-index: 1;
        margin-top: -200px;
    }

    .slide4BtnText{
        margin-top: -3.5px;
    }

    .Slide5Img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        margin-top: -30px;
    }

    .Slide5Content{
        margin-top: -75px;
    }

    .Slide5Heading{
        font-size: 20px;
    }

    .Slide5Text{
        font-size: 10px;
        margin-top: -25px;
    }

    .Slide5ShopNowBtn{
        font-size: 10px;
        margin-top: -50px;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 20px;
    }

    .Slide6Text{
        font-size: 10px;
    }

    .Slide6ShopNowbtn{
        height: 20px;
        width: 80px;
        font-size: 10px;
        z-index: -1;     
        margin-top: -80px;
        margin-left: 140px;
    }

    .slide6BtnText{
        margin-top: -4px;
    }

    .slide7Img{
        max-height: 100%;
        max-width: 100%;
    }

    .Slide7Heading{
        font-size: 20px;
    }

    .Slide7Text{
        font-size: 12px;
    }
    #Slide7Heading2{
        margin-top: 2px;
    }

    .mapSecImage{
        height: 250px;
        width: 250px;
        object-fit: contain;
        margin-top: -30px;
    }

    #Slide2ShopNowbtn{
        margin-top: 70px;
    }

}

@media screen and (min-width: 375px) and (max-width: 424px) {

    .JewelerySection{
        margin-bottom: 70px;
    }
    .Slide2ShopNowbtn{
        margin-top: -80px;
    }
    .JeweImage{
        height: 330px;
        width: 330px;
        object-fit: contain;
        margin-left: -10px;
    }

    .menWearImg{
        height: 330px;
        width: 330px;
        object-fit: contain;
        margin-top: -150px;
        margin-left: -10px;
        z-index: -1;
    }

    .menWearButton{
        height: 30px;
        width: 100px;
        font-size: 11px;
        margin-top: -10px;
        z-index: 1;
        margin-left: -120px;
    }

    .slide4Image{
        height: 320px;
        width: 320px;
        object-fit: contain;    
        margin-top: -100px;
        margin-left: -13px;
        z-index: -1;
    }

    .slide4btn{
        height: 20px;
        width: 80px;
        font-size: 8px;
        z-index: 1;
        margin-top: -220px;
        margin-left: -5px;
    }

    .slide4BtnText{
        margin-top: -3.5px;
    }

    .Slide5Img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        margin-top: -25px;
    }

    .Slide5Content{
        margin-top: -75px;
    }

    .Slide5Heading{
        font-size: 20px;
    }

    .Slide5Text{
        font-size: 10px;
        margin-top: -25px;
    }

    .Slide5ShopNowBtn{
        font-size: 10px;
        margin-top: -50px;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 20px;
    }

    .Slide6Text{
        font-size: 10px;
    }

    .Slide6ShopNowbtn{
        height: 20px;
        width: 80px;
        font-size: 10px;
        z-index: -1;     
        margin-top: -95px;
        margin-left: 180px;
    }

    .slide6BtnText{
        margin-top: -4px;
    }

    .slide7Img{
        max-height: 100%;
        max-width: 100%;
    }

    .Slide7Heading{
        font-size: 20px;
    }

    .Slide7Text{
        font-size: 12px;
    }

    .mapSecImage{
        height: 280px;
        width: 280px;
        object-fit: contain;
        margin-top: -30px;
    }

    #Slide2ShopNowbtn{
        margin-top: 70px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {


    .JewelerySection{
        margin-bottom: 70px;
    }
    .Slide2ShopNowbtn{
        margin-top: -80px;
    }
    .JeweImage{
        height: 350px;
        width: 350px;
        object-fit: contain;
        margin-left: -10px;
    }

    .menWearImg{
        height: 370px;
        width: 370px;
        object-fit: contain;
        margin-top: -150px;
        margin-left: -10px;
        z-index: -1;
    }

    .menWearButton{
        height: 30px;
        width: 100px;
        font-size: 11px;
        margin-top: -10px;
        z-index: 1;
        margin-left: -120px;
    }

    .slide4Image{
        height: 350px;
        width: 350px;
        object-fit: contain;    
        margin-top: -100px;
        margin-left: -13px;
        z-index: -1;
    }

    .slide4btn{
        height: 20px;
        width: 80px;
        font-size: 8px;
        z-index: 1;
        margin-top: -230px;
        margin-left: -5px;
    }

    .slide4BtnText{
        margin-top: -3.5px;
    }

    .Slide5Img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        margin-top: -25px;
    }

    .Slide5Content{
        margin-top: -75px;
    }

    .Slide5Heading{
        font-size: 20px;
    }

    .Slide5Text{
        font-size: 10px;
        margin-top: -25px;
    }

    .Slide5ShopNowBtn{
        font-size: 10px;
        margin-top: -50px;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 20px;
    }

    .Slide6Text{
        font-size: 10px;
    }

    .Slide6ShopNowbtn{
        height: 20px;
        width: 80px;
        font-size: 10px;
        z-index: -1;     
        margin-top: -105px;
        margin-left: 220px;
    }

    .slide6BtnText{
        margin-top: -4px;
    }

    .slide7Img{
        max-height: 100%;
        max-width: 100%;
    }

    .Slide7Heading{
        font-size: 20px;
    }

    .Slide7Text{
        font-size: 12px;
    }

    #Slide7Text2{
        margin-top: 20px;
    }

    .mapSecImage{
        height: 320px;
        width: 320px;
        object-fit: contain;
        margin-top: -30px;
    }

    #Slide2ShopNowbtn{
        margin-top: 70px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .JewelerySection{
        margin-bottom: 70px;
    }
    .Slide2ShopNowbtn{
        margin-top: -80px;
    }

    .CollectionMid{
        margin-left: 40px;
    }
    .JeweImage{
        height: 550px;
        width: 550px;
        object-fit: contain;
        margin-left: -10px;
    }
    
    .menWearImg{
        height: 550px;
        width: 550px;
        object-fit: contain;
        margin-top: -150px;
        margin-left: -10px;
        z-index: -1;
    }

    .menWearButton{
        height: 30px;
        width: 100px;
        font-size: 11px;
        margin-top: -10px;
        z-index: 1;
        margin-left: -120px;
    }

    .slide4Image{
        height: 550px;
        width: 550px;
        object-fit: contain;    
        margin-top: -100px;
        margin-left: -13px;
        z-index: -1;
        margin-left: -220px;
    }

    .slide4btn{
        height: 20px;
        width: 80px;
        font-size: 10px;
        z-index: 1;
        margin-top: 120px;
        margin-left: -320px;
    }

    .slide4BtnText{
        margin-top: -3.5px;
    }

    .Slide4{
        margin-top: -50px;
    }

    .Slide5th{
        margin-left: 30px;   
        display: flex;
        justify-content: center;
    }


    .Slide5Img{
        margin-left: 30px;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;
    }

    .Slide5Heading{
        font-size: 30px;
        margin-top: -10px;
    }

    .Slide5Text{
       font-size: 16px;
       margin-top: -20px;
    }
    .Slide5ShopNowBtn{
        margin-top: -35px;
        font-size: 15px;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 30px;
    }

    .Slide6Text{
        font-size: 16px;
    }

    .Slide6ShopNowbtn{
        height: 40px;
        width: 140px;
        font-size: 15px;
        z-index: -1;     
        margin-top: -150px;
        margin-left: 340px;
    }

    .slide6BtnText{
        margin-top: 2px;
    }

    #Slide2ShopNowbtn{
        margin-top: 70px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .Slide2ShopNowbtn{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .CollectionMid{
        margin-left: 40px;
    }
        
    #WomenCaro1, #WomenCaro2, #WomenCaro3, #WomenCaro4 {
        transition: transform 0.7s ease; /* Smooth scaling effect */
    }
    
    #WomenCaro1:hover, #WomenCaro2:hover,#WomenCaro3:hover, #WomenCaro4:hover{
        transform: scale(1.5, 1);
        cursor: pointer;
    }

    .menWearImg{
        height: 750px;
        width: 750px;
        object-fit: contain;
        margin-top: -150px;
        margin-left: -140px;
        z-index: -1;
    }

    .menWearButton{
        height: 35px;
        width: 100px;
        font-size: 15px;
        margin-top: 120px;
        z-index: 1;
        margin-left: -250px;
    }

    .slide4Image{
        height: 750px;
        width: 750px;
        object-fit: contain;    
        margin-top: -230px;
        margin-left: -13px;
        z-index: -1;
        margin-left: -320px;
    }

    .slide4btn{
        height: 35px;
        width: 130px;
        font-size: 15px;
        z-index: 1;
        margin-top: 75px;
        margin-left: -440px;
    }

    .slide4BtnText{
        margin-top: -2.5px;
    }

    .Slide4{
        margin-top: -50px;
    }

    .Slide5th{
        margin-left: 10px;   
        display: flex;
        justify-content: space-around;
    }

   
    .Slide5Img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 30px;
    }

    .Slide6Text{
        font-size: 16px;
    }

    .Slide6ShopNowbtn{
        height: 40px;
        width: 140px;
        font-size: 15px;
        z-index: -1;     
        margin-top: -150px;
        margin-left: 340px;
    }

    .slide6BtnText{
        margin-top: 2px;
    }

}


@media screen and (min-width: 1440px) and (max-width: 2559px){

    .Slide2ShopNowbtn{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #WomenCaro1, #WomenCaro2, #WomenCaro3, #WomenCaro4 {
        transition: transform 0.7s ease; /* Smooth scaling effect */
    }
    
    #WomenCaro1:hover, #WomenCaro2:hover,#WomenCaro3:hover, #WomenCaro4:hover{
        transform: scale(1.5, 1);
        cursor: pointer;
    }

    .menWearImg{
        height: 900px;
        width: 900px;
        margin-top: -90px;
        margin-left: -150px;
    }

    .menWearButton{
        background-color: black;
            margin-top: 30px;
            margin-left: -75px;
            height: 30px;
            width: 120px;
            margin-bottom: 100px;
    }

    .menswearBtnText{
        margin-top: -3.5px;
    }
    
    .slide4Image{
        height: 900px;
        width: 900px;
        object-fit: contain;
        margin-left: -400px;
        margin-top: -300px;

    }
    .slide4btn{
        margin-left: -520px;
        margin-top: 70px;
        height: 45px;
        width: 130px;
    }

    .Slide5th{
        margin-left: 0px;   
        display: flex;
        justify-content: space-evenly;
    }

   
    .Slide5Img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 30px;
    }

    .Slide6Text{
        font-size: 16px;
    }

    .Slide6ShopNowbtn{
        height: 40px;
        width: 140px;
        font-size: 15px;
        z-index: -1;     
        margin-top: 330px;
        margin-left: -165px;
    }

    .slide6BtnText{
        margin-top: 2px;
    }

    .Slide7{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 2560px){

    .Slide2ShopNowbtn{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #WomenCaro1, #WomenCaro2, #WomenCaro3, #WomenCaro4 {
        transition: transform 0.7s ease; /* Smooth scaling effect */
    }
    
    #WomenCaro1:hover, #WomenCaro2:hover,#WomenCaro3:hover, #WomenCaro4:hover{
        transform: scale(1.5, 1);
        cursor: pointer;
    }

    .menWearImg{
        height: 900px;
        width: 900px;
        margin-top: -90px;
        margin-left: -150px;
    }

    .menWearButton{
        background-color: black;
            margin-top: 30px;
            margin-left: -75px;
            height: 30px;
            width: 120px;
            margin-bottom: 100px;
    }

    .menswearBtnText{
        margin-top: -3.5px;
    }
    
    .slide4Image{
        height: 900px;
        width: 900px;
        object-fit: contain;
        margin-left: -400px;
        margin-top: -300px;

    }
    .slide4btn{
        margin-left: -520px;
        margin-top: 70px;
        height: 45px;
        width: 130px;
    }

    .Slide5th{
        margin-left: 0px;   
        display: flex;
        justify-content: space-evenly;
    }

   
    .Slide5Img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        height: 500px;
        width: 450px;
        margin-right: 250px;
    }

    .Slide5Content{
        padding-top: 150px;
        padding-left: 300px;
    }

    .Slide6Image{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
        z-index: 1;
    }

    .Slide6Content{
        margin-top: 10px;
    }

    .Slide6Heading{
        font-size: 30px;
    }

    .Slide6Text{
        font-size: 16px;
    }

    .Slide6ShopNowbtn{
        height: 40px;
        width: 140px;
        font-size: 15px;
        z-index: -1;     
        margin-top: 330px;
        margin-left: -165px;
    }

    .slide6BtnText{
        margin-top: 2px;
    }

    .Slide7{
        display: flex;
        justify-content: space-around;
    }
}
