body {
    overflow-x: hidden; /* Hides horizontal scroll */
}

#topSection{
    display: flex;
    justify-content: space-between;
    position: sticky;
}

#topSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; 
}

.navBar {
    position: fixed;
    top: 60px; 
    width: 100%;
    z-index: 999;
    background-color: white;
}

#icons-desktop {
    display: flex;
}

.icon{
    margin: 0 7px 0 7px;
}

.navBarItem{
    color: #693621;
    font-weight: bolder;
    margin: 0 65px 0 65px;
}

#navBarList{
    margin:auto;
}

.caroImg{
    width: 1380px !important;
}











@media screen and (max-width: 319px) {
    .caroImg{
        width: 350px !important;
    }

    #navBarList{
        display: flex !important;
        flex-direction: row !important;
    }

    .navBarItem{
        margin: 0 10px 0 10px;
        font-size: xx-small !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .caroImg{ 
        max-width: 100%; /* The image will never exceed the container's width */
        max-height: 100%; /* The image will never exceed the container's height */
        height: auto; /* Maintain aspect ratio */
        width: auto; /* Maintain aspect ratio */
    }

    #navBarList{
        display: flex !important;
        flex-direction: row !important;
    }

    .navBarItem{
        margin: 0 7px 0 7px;
       font-size: 8px !important;
    }

    .navBarUlList{
        margin-left: -10px;
    }

    .icons-mobile{
        margin-top: 100px;
        margin-bottom: -80px;
        margin-left: -25px;
    }

    .iconItem{
        font-size: small;
    }

    .carousel-inner{
        margin-top: 100px;
    }

    .midSecImg{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        margin-top: -30px;
    }

    .midSecContent{
        margin-top: -75px;
    }

    .midSecHeading{
        font-size: 20px;
    }

    .midSecText{
        font-size: 10px;
        margin-top: -25px;
    }

    .midSecShopNowBtn{
        font-size: 10px;
        margin-top: -50px;
    }

    .navBar{       
        margin-left: -5px;
   }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .caroImg{
       max-width: 100%;
       max-height: 100%;
       height: auto;
       width: auto;
    }

    #navBarList{
        display: flex !important;
        flex-direction: row !important;
    }

    .navBarItem{
        margin: 0 10px 0 10px;
        font-size: xx-small !important;
    }

    .navBarUlList{
       margin-left: -12px;
    }

    .icons-mobile{
        margin-top: 100px;
        margin-bottom: -70px;
        margin-left: -25px;
    }

    .iconItem{
        font-size: small;
    }

    .carousel-inner{
        margin-top: 100px;
    }

    .midSecImg{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        margin-top: -25px;
    }

    .midSecContent{
        margin-top: -75px;
    }

    .midSecHeading{
        font-size: 20px;
    }

    .midSecText{
        font-size: 10px;
        margin-top: -25px;
    }

    .midSecShopNowBtn{
        font-size: 10px;
        margin-top: -50px;
    }

    .navBar{       
        margin-left: -5px;
   }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .caroImg{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    #navBarList{
        display: flex !important;
        flex-direction: row !important;
    }

    .navBarItem{
        margin: 0 10px 0 10px;
        font-size: xx-small !important;
    }

    .navBarUlList{
        padding-left: 10px;
    }

    .icons-mobile{
        margin-top: 100px;
        margin-bottom: -70px;
        margin-left: -20px;
    }

    .iconItem{
        font-size: small;
    }

    .carousel-inner{
        margin-top: 100px;
    }

    .midSecImg{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-left: -15px;
        margin-top: -25px;
    }

    .midSecContent{
        margin-top: -75px;
    }

    .midSecHeading{
        font-size: 20px;
    }

    .midSecText{
        font-size: 10px;
        margin-top: -25px;
    }

    .midSecShopNowBtn{
        font-size: 10px;
        margin-top: -50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .carouselss{
        margin-left: 75px;
    }
    .caroImg{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    #navBarList{
        display: flex !important;
        flex-direction: row !important;
    }

    .navBarItem{
        margin: 0 25px 0 25px;
        font-size: small !important;
    }

    .navBarUlList{
        margin-left: 40px;
        padding-left: 20px;
    }

    .icons-mobile{
        margin-top: 110px;
        margin-bottom: -70px;
        margin-left: 30px;
    }

    .carousel-inner{
        margin-top: 100px;
    }

   
    .midHomeSection{
        margin-left: 110px;   
        display: flex;
        justify-content: space-around;
    }

    .midSecContent{
        margin-left: -30px;
    }

    .midSecImg{
        margin-left: 40px;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;
    }

    .midSecHeading{
        font-size: 30px;
        margin-top: -10px;
    }

    .midSecText{
       font-size: 16px;
       margin-top: -20px;
    }
    .midSecShopNowBtn{
        margin-top: -35px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .caroImg{
        max-width: 85%;
        max-height: 85%;
        height: auto;
        width: auto;
        margin-left: 57px;
    }

    .icons-mobile{
        display: none;
    }

   

    .navBarItem{
        margin: 0 30px 0 30px;
    }

    .navBarUlList{
        padding-left: 110px;
    }

    .carousel-inner{
        margin-top: 110px;
        margin-left: 50px;
    }

     
    .midHomeSection{
        margin-left: 130px;   
        display: flex;
        justify-content: space-between;
    }

    .midSecImg{
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;
    }

}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .caroImg{
        max-width: 85%;
        max-height: 85%;
        height: auto;
        width: auto;
        margin-left: 157px;
    }

    .carousel-inner{
        margin-top: 110px;
        margin-left: -20px;
    }
    .navBarUlList{
        padding-left: 75px;
    }

    .navBar{       
         margin-left: -20px;
    }
    
    
    .midHomeSection{
        margin-left: 110px;   
        display: flex;
        justify-content: space-around;
    }

    .midSecHeading{
        font-size: 50px;
    }

    .midSecText{
        font-size: 25px;
    }

    .midSecImg{
        max-width: 85%;
        max-height: 85%;
        height: auto;
        width: auto;
    }

}


